p {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
 
  h1 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }