.wrap {
    background: url('./images/background.png') no-repeat 0 53% / cover;
    margin: 0;
}

.main-wrap {
    display: flex;
    padding-left: 50px;
    padding-top: 150px;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'montserrat-regular', sans-serif;
    color: white;
}

#menu__toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 20px;
    height: 10px;
    padding-right: 15px;
}

.menu__item {
    font-family: 'montserrat-regular', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    border-radius: 20px;
    background-color: #9370d8;
    padding: 5px;
}

.menu__btn {
    display: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.info {
    width: 50%;
    margin-right: 100px;
}

.content__title {
    margin: 0;
    text-align: end;
    font-family: 'PTSerif-Bold', serif;
    font-size: 180px;
    opacity: 50%;
    z-index: 0;
}

.content__subtitle {
    margin-top: -75px;
    text-align: end;
    font-family: 'PTSerif-Bold', serif;
    font-size: 60px;
    font-weight: bold;
}

.info__text {
    margin: 25px;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 22px;
}

.main__btn {
    margin: 25px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #9370d8;
}

.images {
    display: flex;
    margin-bottom: 10%;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.images__item {
    width: 250px;
    height: 250px;
    margin: 20px;
}

@media (max-width:768px) {

.header {
    margin-bottom: 25px;
}

.menu {
    display: none;
}

.hamburger-menu {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: start;
    background-color: #9370d8;
    z-index: 1;
}

.menu__btn {
    display: block;
    position: relative;
    top: 20px;
    left: 10px;
    display: none;
    color: #9370d8;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__item {
    padding: 0;
    font-size: 50px;
    line-height: 150px;
    text-align: left;
}

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
    }
  
  @media (min-width:1024px) {
    #menu__toggle {
        display: none;
    }