.wrap {
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 375px;
    height: 100vh;
    margin: 0 auto;
    background: url('./wolfic/background.png') no-repeat;
    background-size: cover;
    font-family: 'Public Sans';
}

.header {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.menu {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.menu__item {
    color: #E6E6FA;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.main-wrap {
    display: flex;
}

.info {
    height: 60vh;
    flex: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__content {
    max-width: 400px;
}

.content__title {
    height: 185px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    size: 95%;
    opacity: 0.5;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    font-size: 280px;
    line-height: 370px;
    color: #E6E6FA;   
}

.content__subtitle {
    width: 332px;
    color: #E6E6FA;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 130px;
    display: flex;
    align-items: center;    
}

.info__text {
    max-width: 400px;
    margin: 25px 0;
    color: #E6E6FA;
    font-size: 22px;
    line-height: 25px;
}

.main__btn {
    width: 210px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #E6E6FA;
    border-radius: 20px;
    background-color: #9370d8;
    outline: none;
    border: none;
    cursor: pointer;
}

.images {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.images__item {
    margin-left: 20px;
}